body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
header{
    display: block;
    width: 1350px;
    margin: auto;
    background-color: aqua;
}
main{
    display: block;
    width: 1350px;
    margin: auto;
    background-color: royalblue;
}
.monkey-business img{
  display: block;
  margin: 10px auto;
}
.container{
    display: flex;
    padding: auto;
}
#mrzimovuglupost{
    padding-right: 60px;
}
.container:not(:first-child){
    margin-top: 20px;
}
.col{
    background-color: saddlebrown;
    margin-left: 60px;
}
.col-main{
    width: 100%;
    background-color: saddlebrown;
}
.link{
    text-decoration: none;
    text-align: center;
    color: black;
    margin-right: 10px;
}
.links{
    text-decoration: none;
    text-align: center;
    color: black;
}
@media (max-width:1400px){
    header{
        width: 99%;
    }
    main{
        width: 99%;
    }
}
@media (max-width:1000px){
    .monkey-business img{
        width: 100%;
      }
      .col{
        margin: 15px 20% 0 20%;
    }
    .email{
        font-size: 15px;
    }
    #mrzimovuglupost{
        padding-right: 0px;
    }
    .container{
        flex-direction: column;
    }
}
.containers{
    display: flex;
    padding: auto;
}
.containers table {
    background-color: brown;
    border: solid 1px;
    width: 50%;
    margin-top: 50px;
}
.containers tr{
    background-color: brown;
    border: solid 1px;
    width: 50%;
}
.containers th{
    background-color: brown;
    border: solid 1px;
    width: 50%;
}